$fontPath: '';

@font-face {
    font-family:'Kepler';
    src: url('#{$fontPath}Kepler.woff2') format('woff2'),
		url('#{$fontPath}Kepler.woff') format('woff');
//    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Proxima Nova';
    src: url('#{$fontPath}Proxima_nova.woff2') format('woff2'),
		url('#{$fontPath}Proxima_nova.woff') format('woff');
//    unicode-range: U+0020-00FE;
}